.nav-wrap {
	.zy-logo {
		position: absolute;
		left: 20px;
		top: 20px;
		width: 80rem;
		height: 21.5rem;
	}
}
.zy-nav {
	display: none;
}
.zy-nav-dropdown {
	position: absolute;
	display: block;
	cursor: pointer;
	right: 20px;
	top: 20px;
	fill: #fff;
	width: 32rem;
	height: 32rem;
}
// H5侧边导航栏
.zy-sidebar {
	display: block;
	position: fixed;
	height: 100vh;
	background-color: #fff;
	width: 40vw;
	min-width: 150rem;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 999999;
	padding: 24rem 0;
	.nav-link {
		padding: 8rem 18rem 8rem 12rem;
		border-bottom: 1px solid #cccccc;
		font-size: 14rem;
		position: relative;
		cursor: pointer;
		&:not(&.active) {
			&::after {
				position: absolute;
				right: 4rem;
				top: 50%;
				display: block;
				content: "";
				background-image: url("data:image/svg+xml,<svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='M399.211008 819.952026L438.794035 859.535974 804.439962 493.81498901 438.794035 128.135987 399.211008 167.719014 725.336986 493.83895Z'></path></svg>");
				background-repeat: no-repeat;
				width: 14rem;
				height: 14rem;
				transform: translateY(-50%);
			}
		}
	}
}

.zy-sidebar-wrap {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100vw;
	height: 100vh;
}
